body {
    font-family: Arial, sans-serif;
    background-image: url('/static/images/bg1.png');
    background-size: cover;
    background-position: center;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    padding-top: 80px;
}

.header {
    width: 100%;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #13322b;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
    color: white;
    box-sizing: border-box;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.container {
    margin-top: 100px;
    width: 90%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: white;
    font-size: 32px;
    font-weight: 600;
    padding: 10px 20px;

    background-color: #13322b;
    border: 4px solid white;
    border-radius: 12px;

    margin-bottom: 30px;
}

.success-box {
    width: 100%;
    background: #13322b;
    border: 3px solid white;

    padding: 25px;
    border-radius: 14px;

    color: white;
    font-size: 20px;
    text-align: center;

    box-shadow: 0 0 15px rgba(0,0,0,0.3);

    animation: fadeIn 0.4s ease;
}

.info {
    margin-top: 15px;
    text-align: left;
    padding-left: 15px;
    line-height: 1.7;
    font-size: 18px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.menu-card {
    position: relative;
    width: 100%;
    padding-top: 100px;
    margin-top: 25px;
    cursor: pointer;
}

.menu-card .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 18px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 600;

    color: white;
    background: #13322b;
    border: 3px solid white;
    border-radius: 18px;

    transition: 0.2s ease;
}

.menu-card:hover .overlay {
    background: white;
    color: #13322b;
}
