body {
    font-family: Arial, sans-serif;
    background-image: url('/static/images/bg1.png');
    background-position: center;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    padding-top: 80px;
}

.header {
    width: 100%;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #13322b;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
    color: white;
    box-sizing: border-box;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

h2 {
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: 600;

    padding: 10px 20px;
    background-color: #13322b;
    border: 4px solid white;
    border-radius: 12px;

    margin-top: 10px;
    margin-bottom: 25px;
}

.main {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
}

.room {
    width: 100%;
    background: #13322b;
    border: 4px solid white;

    padding: 40px;
    border-radius: 12px;

    display: grid;
    grid-template-columns: 1fr 150px; /* seat vs bar area */
    gap: 20px;
    box-sizing: border-box;
}

.seat-grid {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    gap: 50px;
    justify-content: center;
    padding-bottom: 25px;
}

.seat-grid button {
    padding: 15px;
    height: 90px;
    width: 90px;

    font-size: 26px;
    font-weight: bold;

    color: white;
    border: 3px solid white;
    background: rgba(255, 255, 255, 0.05);

    cursor: pointer;
    border-radius: 15px;

    transition: 0.2s ease;
}

/* Hover effect kursi */
.seat-grid button:hover {
    background: white;
    color: #13322b;
}

.bar-area {
    display: grid;
    grid-template-rows: repeat(4, 90px); /* 4 lingkaran */
    justify-items: center;
    align-items: center;
    row-gap: 50px;
}

.bar-seat {
    width: 90px;
    height: 90px;

    border-radius: 50%;
    border: 3px solid white;

    background: rgba(255, 255, 255, 0.05);
    color: white;

    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: 0.2s ease;
}


/* Hover bar seat */
.bar-seat:hover {
    background: white;
    color: #13322b;
}

.menu-card {
    position: relative;
    padding-top: 100px;
    margin-top: 18px;
    cursor: pointer;
}

.menu-card .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 18px 0;
    text-align: center;
    font-size: 25px;
    font-weight: 600;

    color: white;
    background: #13322b;
    border: 3px solid white;
    border-radius: 18px;

    transition: 0.2s ease;
}

.menu-card:hover .overlay {
    background: white;
    color: #13322b;
}
