body {
    margin: 0;
    background-image: url('/static/images/bg1.png');
    background-position: center;
    font-family: "Poppins", sans-serif;
    color: white;
}

.header {
    width: 100%;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #13322b;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    color: white;
    transition: 0.2s ease;
}

.menu-icon:hover {
    color: #ddd;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}

.content {
    padding: 15px 20px;
}

.section-title {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 26px;
    font-weight: 700;
    padding: 8px 16px;
    background: #13322b;
    border: 3px solid white;
    border-radius: 12px;
    display: inline-block;
}

.rekomendasi-box img {
    width: 100%;
    border-radius: 18px;
    border: 3px solid white;
    transition: 0.2s ease;
}

.rekomendasi-box img:hover {
    filter: brightness(1.1);
}

.menu-card {
    position: relative;
    padding-top: 100px;
    margin-top: 18px;
    cursor: pointer;
    transition: 0.2s ease;
}

.menu-card img {
    width: 100%;
    border-radius: 18px;
    border: 3px solid white;
    transition: 0.25s ease;
}

.menu-card img:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
}

.menu-card .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 18px 0;
    text-align: center;

    font-size: 24px;
    font-weight: 600;

    background: #13322b;
    color: white;

    border-radius: 18px;
    border: 3px solid white;
    transition: 0.25s ease;
}

.menu-card:hover .overlay {
    background: white;
    color: #13322b;
}
/* responsive */
@media (min-width: 768px) {
    .content {
        max-width: 700px;
        margin: auto;
    }

    .menu-card img,
    .rekomendasi-box img {
        border-radius: 22px;
    }

    .menu-card .overlay {
        font-size: 22px;
        padding: 20px 0;
    }
}

@media (min-width: 1200px) {
    .content {
        max-width: 950px;
    }

    .menu-card {
        margin-top: 25px;
    }

    .menu-card .overlay {
        font-size: 24px;
    }
}
