body {
    font-family: Arial, sans-serif;
    background: rgb(33, 33, 33);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: #104811;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(38, 255, 0);
    width: 320px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: white;
}

input {
    width: 93%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
}

input:focus {
    border-color: #104811;
    outline: none;
}

button {
    width: 100%;
    background: white;
    padding: 10px;
    border: none;
    color: black;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #00ff0d;
}
