.pdf-container {
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
    }

    .pdf-container iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
    
    .header {
    width: 89,5%;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #13322b;
    }

    .menu-icon {
        font-size: 26px;
        cursor: pointer;
        color: white;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
        color: white;       
    }