body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-image: url('/static/images/bg1.png');
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 100vh;

    /* center content */
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 80px; /* ruang untuk header */
}

.header {
    width: 100%;
    padding: 12px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #13322b;
    border-bottom: 4px solid white;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    box-sizing: border-box;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    color: white;
}

.menu-icon:hover {
    color: #ddd;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

h2 {
    margin-top: 20px;
    padding: 10px 20px;

    background: #13322b;
    border: 4px solid white;
    border-radius: 12px;

    color: white;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

table {
    width: 85%;
    max-width: 900px;

    margin-top: 25px;
    border-collapse: collapse;

    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    overflow: hidden;

    box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

table th {
    background: #13322b;
    color: white;

    padding: 14px;
    font-size: 18px;
}

table td {
    text-align: center;
    padding: 12px 10px;
    font-size: 16px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

table tr:hover {
    background: rgba(255, 255, 255, 0.35);
    color: #13322b;
}

p {
    text-align: center;
    font-size: 20px;
    color: white;
}

.menu-card {
    width: 260px;
    margin: 35px auto;
    padding: 15px;

    background: #13322b;
    color: white;

    text-align: center;
    border-radius: 12px;
    cursor: pointer;

    font-size: 22px;
    font-weight: 600;

    border: 3px solid white;

    transition: 0.25s ease;
}

.menu-card:hover {
    background: white;
    color: #13322b;
    transform: scale(1.05);
}

.empty-history {
    margin-top: 40px;
    padding: 18px 25px;

    background: rgba(255, 255, 255, 0.15);
    border: 3px solid white;

    border-radius: 12px;
    color: white;

    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;

    text-align: center;
    backdrop-filter: blur(4px);

    width: fit-content;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
