<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservasi Kursi</title>
    <link rel="stylesheet" href="/static/css/booking-chose-seat.css">
</head>



<body>   

<header class="header">
        <div class="menu-icon" onclick="window.location.href='/dashboard'">☰</div>
        <div class="logo">S&F</div>    
</header>    

<div class="main">

    <!-- CONTENT WRAPPER -->
    <div class="content">

    <h2>RESERVASI KURSI</h2>

    <div class="room">

        <div class="seat-grid">

    {% for num in range(1,13) %}
        {% set seat = "S" ~ num %}

        <!-- Jika kursi sudah dipesan -->
        {% if seat in reserved_seats %}
            <button class="seat-booked" disabled>{{ seat }}</button>

        <!-- Jika kursi masih kosong → ada onclick -->
        {% else %}
            <button class="seat" onclick="pilihSeat('{{ seat }}')">{{ seat }}</button>

        {% endif %}
    {% endfor %}

</div>


<div class="bar-area">

    {% for num in range(1,5) %}
        {% set seat = "B" ~ num %}

        {% if seat in reserved_seats %}
            <button class="bar-seat seat-booked" disabled>{{ seat }}</button>
        {% else %}
            <button class="bar-seat" onclick="pilihSeat('{{ seat }}')">{{ seat }}</button>
        {% endif %}

    {% endfor %}

</div>
<script>
function pilihSeat(seat) {
    window.location.href = "/menu-form?seat=" + seat;
}
</script>
</div>

<div class="menu-card" onclick="window.location.href='/menu-makanan'">
            <div class="overlay">MENU MAKANAN</div>
        </div>
</body>
</html>
