<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Makanan</title>
    <link rel="stylesheet" href="/static/css/menu-makanan.css">
</head>
    <body style="padding: 0; margin: 0; ">
        <header class="header">
            <div class="menu-icon" onclick="window.location.href='/dashboard'">☰</div>
            <div class="logo">S&F</div>
        </header>

        </div>   
            <div class="pdf-container">
            <iframe src="/static/images/Ini Menu Kita.pdf"></iframe>
        </div> 

    </body>
</html>
